/*
$base03:    #002b36;
$base02:    #073642;
$base01:    #586e75;
$base00:    #657b83;
$base0:     #839496;
$base1:     #93a1a1;
$base2:     #eee8d5;
$base3:     #fdf6e3;
$yellow:    #b58900;
$orange:    #cb4b16;
$red:       #dc322f;
$magenta:   #d33682;
$violet:    #6c71c4;
$blue:      #268bd2;
$cyan:      #2aa198;
$green:     #859900;
*/

.container {
  margin:0 20px;
  width:auto;
  display: flex;
  height: 100%;
}

body {
  font: 16px sans-serif;
  background-color: #002b36;
  color: #839496;
  height: 100%;
}

.article, .links {
  height: 100%;
  padding: 0 20px;
}

.article {
  flex: 2 0;
}

.links {
  flex: 1 0;
}

html {
  height: 100%;
}

h1{font-size:3em; text-align: center;}

h2{font-size:2em}

h3{font-size:1.5em}

a:link {
  color: #859900;
  text-decoration: none;
}

a:visited {
  color: #6c71c4;
}

a:hover {
  color: #dc322f;
}

a:active {
  color: #268bd2;
}

@media(min-width:1310px){
  .container{margin:auto;width:1270px}
}

@media(max-width:720px){
  .links{display:none;}
}