doctype HTML

html
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(href="/css/full.css", rel="stylesheet", type="text/css")
    link(href="/css/tables.css", rel="stylesheet", type="text/css")

    title Deck of many things
  body
    div
      h1 Deck of many things
    .container

      .article!= contents
      .links
        h3 My projects
        ul
          li
            a(href="https://karbonkitty.github.io/rl-project") Cyberpunk RL (early tech demo)
          li
            a(href="https://karbonkitty.github.io/rpg-generator-ts") KK's Awesome RPG Generators
        h3 Article list
        ul
          each article in articles
            li
              a(href=article.path)= article.title